<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">
 
<table>
  <tr ng-repeat="x in values">
    <td>{{ x.zonename }}</td>
    <td>{{ x.roomname }}</td>
    <td>{{ x.deviceip }}</td>
  </tr>
</table>
 
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
   $http.get("fakeJson.php")
   .then(function (response) {$scope.values = response.data; });
});
//alert(response.data[1]);
</script>

</body>