<div>
  <div style="width: 100%; margin-bottom: 5px;text-align: center">
    <button class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-add-new-zone"><i class="fa fa-plus"></i> Add new</button>
  </div>

  <div class="box box-widget table-responsive" style="padding: 5px">  
    <table class="table table-bordered table-striped data-tables-1">
      <thead>
      <tr>
        <th>No</th>
        <th>Zone Id</th>
        <th>Name</th>
        <th>Room</th>
        <th>Controller</th>
        <th>Type</th>
        <th>Category</th>
        <th>Sort</th>
        <th>Command</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in values">
            <td>{{$index + 1}}</td>
            <td>{{ x.zoneid }}</td>
            <td>{{ x.zonename }}</td>
            <td>{{ x.roomname }}</td>
            <td>{{ x.devicename }}</td>
            <td>{{ x.devicetype }}</td>
            <td>{{ x.zonecategory }}</td>
            <td>{{ x.zonesort }}</td>
            <td>{{ x.zonecommand }}</td>
            <td>{{ (x.zonestatus=='1')?'On':'Off' }}</td>
            <td>
              <a href="javascript:void(0)" class="btn btn-default btn-flat btn-xs" data-toggle="modal" data-target="#modal-edit-zone" ng-click="editZone(x.zoneid, x.zonename, x.zoneidroom, x.devicename, x.devicetype, x.zonecategory)"><i class="fa fa-pencil"></i> Edit</a>
              <a href="javascript:void(0)" class="btn btn-default btn-flat btn-xs" ng-click="deleteZone(x.zoneid)"><i class="fa fa-trash"></i> Delete</a> 
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="modal-add-new-zone">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Zone</h4>
      </div>
      <div class="modal-body">
        <form method="post">
          <p>
            Zone Name :
            <input type="text" ng-model="zoneNewName" class="form-control" placeholder="Zone Name">
          </p>

          <p>
            Room Name :
            <select ng-model="zoneNewRoomId" class="form-control">
              <option ng-repeat="x in objRoom" value="{{x.id}}">{{x.name}}</option>
            </select>
          </p>

          <p>
            Controller Name :
            <select ng-model="zoneNewControllerId" class="form-control">
              <option ng-repeat="x in objController" value="{{x.id}}">{{x.name}}</option>
              <option value="none">None Controller</option>
            </select>
          </p>

          <p>
            Device Type :
            <select id="device-option-new" ng-model="zoneNewType" class="form-control">
              <option value="ac">Air Conditioner</option>
              <option value="climate">Climate</option>
              <option value="curtain">Curtain</option>
              <option value="door">Door</option>
              <option value="light">Light</option>
              <option value="tv">Television</option>
              <option value="fan">Fan</option>
              <option value="dvd">Dvd Player</option>
              <option value="projector">Projector</option>
              <option value="av">A/V Receiver</option>
              <option value="cctv">CCTV</option>
              <option value="wh">Water Heater</option>
            </select>
          </p>

          <!-- Commands -->
          <p id="p-select-option-gpio" class="commands-option" style="display: none">
            Gpio Command :
            <select id="select-option-gpio" ng-model="zoneNewCommand" class="form-control">
              <option value="gpio1">GPIO 1</option>
              <option value="gpio2">GPIO 2</option>
              <option value="gpio3">GPIO 3</option>
              <option value="gpio4">GPIO 4</option>
              <option value="gpio5">GPIO 5</option>
              <option value="gpio6">GPIO 6</option>
              <option value="gpio7">GPIO 7</option>
              <option value="gpio8">GPIO 8</option>
            </select>
          </p>

          <p id="p-select-option-ac" class="commands-option" style="display: none">
            AC Command :
            <select id="select-option-gpio" ng-model="zoneNewCommand" class="form-control">
              <option value="AC_1">AC 1</option>
              <option value="AC_2">AC 2</option>
              <option value="AC_3">AC 3</option>
              <option value="AC_4">AC 4</option>
              <option value="AC_5">AC 5</option>
              <option value="AC_6">AC 6</option>
              <option value="AC_7">AC 7</option>
              <option value="AC_8">AC 8</option>
            </select>
          </p>

          <p id="p-select-option-tv" class="commands-option" style="display: none">
            TV Command :
            <select id="select-option-gpio" ng-model="zoneNewCommand" class="form-control">
              <option value="TV_1">TV 1</option>
              <option value="TV_2">TV 2</option>
              <option value="TV_3">TV 3</option>
              <option value="TV_4">TV 4</option>
              <option value="TV_5">TV 5</option>
              <option value="TV_6">TV 6</option>
              <option value="TV_7">TV 7</option>
              <option value="TV_8">TV 8</option>
            </select>
          </p>

          <p id="p-select-option-wh" class="commands-option" style="display: none">
            <span class="pull-right" style="color:red"><input type="checkbox" id="cb-rf-wh" value=""> RF Device</span><br>
            Water Heater Command :
            <span id="select-option-wh-rf" style="display: none">
              <input type="text" id="txt-command-rf-0" class="form-control" placeholder="ID Command ON">
              <input type="text" id="txt-command-rf-1" class="form-control" placeholder="ID Command OFF" style="margin-top: 5px">
            </span>
            <span id="select-option-wh-not-rf">
              <select id="select-option-wh" ng-model="zoneNewCommand" class="form-control">
                <option value="WH_1">Water Heater 1</option>
                <option value="WH_2">Water Heater 2</option>
                <option value="WH_3">Water Heater 3</option>
                <option value="WH_4">Water Heater 4</option>
                <option value="WH_5">Water Heater 5</option>
                <option value="WH_6">Water Heater 6</option>
                <option value="WH_7">Water Heater 7</option>
                <option value="WH_8">Water Heater 8</option>
              </select>
            </span>
          </p>
          
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left btn-flat" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-flat" ng-click="submitNewZone()"><i class="fa fa-send"></i> Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-edit-zone">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Controller</h4>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" ng-model="zoneEditId">
          <p>
            Zone Name :
            <input type="text" ng-model="zoneEditName" class="form-control" placeholder="Zone Name">
          </p>

          <p>
            Room Name :
            <select ng-model="zoneEditRoomId" class="form-control">
              <option ng-repeat="x in objRoom" value="{{x.id}}">{{x.name}}</option>
            </select>
          </p>

          <p>
            Controller Name :
            <select ng-model="zoneEditControllerId" class="form-control">
              <option ng-repeat="x in objController" value="{{x.id}}">{{x.name}}</option>
            </select>
          </p>

          <p>
            Device Type :
            <select id="device-option-edit" ng-model="zoneEditType" class="form-control">
              <option value="ac">Air Conditioner</option>
              <option value="climate">Climate</option>
              <option value="curtain">Curtain</option>
              <option value="door">Door</option>
              <option value="light">Light</option>
              <option value="tv">Television</option>
              <option value="fan">Fan</option>
              <option value="dvd">Dvd Player</option>
              <option value="projector">Projector</option>
              <option value="av">A/V Receiver</option>
            </select>
          </p> 

          <!-- Commands -->
          <p id="p-select-option-gpio-edit" class="commands-option" style="display: none">
            Gpio Command :
            <select id="select-option-gpio-edit" ng-model="zoneEditCommand" class="form-control">
              <option value="gpio1">GPIO 1</option>
              <option value="gpio2">GPIO 2</option>
              <option value="gpio3">GPIO 3</option>
              <option value="gpio4">GPIO 4</option>
              <option value="gpio5">GPIO 5</option>
              <option value="gpio6">GPIO 6</option>
              <option value="gpio7">GPIO 7</option>
              <option value="gpio8">GPIO 8</option>
            </select>
          </p>

          <p id="p-select-option-ac-edit" class="commands-option" style="display: none">
            AC Command :
            <select id="select-option-gpio-edit" ng-model="zoneEditCommand" class="form-control">
              <option value="ac1">AC 1</option>
              <option value="ac2">AC 2</option>
              <option value="ac3">AC 3</option>
              <option value="ac4">AC 4</option>
              <option value="ac5">AC 5</option>
              <option value="ac6">AC 6</option>
              <option value="ac7">AC 7</option>
              <option value="ac8">AC 8</option>
            </select>
          </p>

          <p id="p-select-option-tv-edit" class="commands-option" style="display: none">
            TV Command :
            <select id="select-option-gpio-edit" ng-model="zoneEditCommand" class="form-control">
              <option value="tv1">TV 1</option>
              <option value="tv2">TV 2</option>
              <option value="tv3">TV 3</option>
              <option value="tv4">TV 4</option>
              <option value="tv5">TV 5</option>
              <option value="tv6">TV 6</option>
              <option value="tv7">TV 7</option>
              <option value="tv8">TV 8</option>
            </select>
          </p>   
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left btn-flat" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-flat" ng-click="submitEditZone()"><i class="fa fa-send"></i> Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>