<div>
  <div style="width: 100%; margin-bottom: 5px;text-align: center">
    <button class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-add-new-room"><i class="fa fa-plus"></i> Add new</button>
  </div>

  <div class="box box-widget table-responsive" style="padding: 5px">  
    <table class="table table-bordered table-striped data-tables-1" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>No</th>
        <th>Room Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in values">
            <td>{{$index + 1}}</td>
            <td>{{ x.name }}</td>
            <td>
              <a href="javascript:void(0)" class="btn btn-default btn-flat btn-xs" data-toggle="modal" data-target="#modal-edit-room" ng-click="editRoom(x.id, x.name, x.password)"><i class="fa fa-pencil"></i> Edit</a>
              <a href="javascript:void(0)" class="btn btn-default btn-flat btn-xs" ng-click="deleteRoom(x.id)"><i class="fa fa-trash"></i> Delete</a> 
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="modal-add-new-room">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Room</h4>
      </div>
      <div class="modal-body">
        <form method="post">
          <p>
            Room Name :
            <input type="text" ng-model="roomNewName" class="form-control" placeholder="Room Name">
          </p>

          <p>
            Room Password :
            <input type="password" ng-model="roomNewPassword" class="form-control" placeholder="Room Password">
          </p>          
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left btn-flat" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-flat" ng-click="submitNewRoom()"><i class="fa fa-send"></i> Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-edit-room">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Room</h4>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" ng-model="RoomEditId">
          <p>
            Room Name :
            <input type="text" ng-model="roomEditName" class="form-control" placeholder="Room Name">
          </p>

          <p>
            Room Password :
            <input type="password" ng-model="roomEditPassword" class="form-control" placeholder="Room Password">
          </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left btn-flat" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-flat" ng-click="submitEditRoom()"><i class="fa fa-send"></i> Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>