<div>
  <div style="width: 100%; margin-bottom: 5px;text-align: center">
    <button class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-add-new-controller"><i class="fa fa-plus"></i> Add new</button>
  </div>

  <div class="box box-widget table-responsive" style="padding: 5px">
    <table datatable="" class="table table-bordered table-striped data-tables-1">
      <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Type</th>
        <th>IP Address</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in values">
          <td>{{$index + 1}}</td>
          <td>{{ x.name }}</td>
          <td>{{ x.type }}</td>
          <td>{{ x.ip_address }}</td>
          <td>
            <a href="javascript:void(0)" class="btn btn-default btn-flat btn-xs" data-toggle="modal" data-target="#modal-edit-controller" ng-click="editController(x.id, x.name, x.type, x.ip_address)"><i class="fa fa-pencil"></i> Edit</a>
            <button class="btn btn-default btn-flat btn-xs" ng-click="deleteController(x.id)"><i class="fa fa-trash"></i> Delete</button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="modal-add-new-controller">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Controller</h4>
      </div>
      <div class="modal-body">
        <form method="post">
          <p>
            Controller Name :
            <input type="text" ng-model="controllerNewName" class="form-control" placeholder="Controller Name" required="required">
          </p>

          <p>
            Type :
            <select ng-model="controllerNewType" class="form-control">
              <option value="onof">On/Off</option>
              <option value="dimmerac">Dimmer AC</option>
              <option value="dimmerdc">Dimmer DC</option>
              <option value="ir">Infrared</option>
              <option value="rf">RF</option>
              <option value="cctv">CCTV</option>
            </select>
          </p>

          <p id="ip-address">
            IP Address :
            <input type="text" ng-model="controllerNewIp" class="form-control" placeholder="IP Address" required="required">
          </p>

          <!-- <p id="rf-id">
            RF ID :
            <input type="text" ng-model="controllerNewRf" class="form-control" placeholder="RF ID" required="required">
          </p> -->
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left btn-flat" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-flat" ng-click="submitNewController()"><i class="fa fa-send"></i> Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-edit-controller">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Controller</h4>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" ng-model="controllerEditId">
          <p>
            Controller Name :
            <input type="text" ng-model="controllerEditName" class="form-control" placeholder="Controller Name">
          </p>

          <p>
            Type :
            <select class="form-control"
                    ng-options="option.name for option in data.availableOptions track by option.value"
                    ng-model="data.selectedOptionType">
            </select>
          </p>

          <p>
            IP Address :
            <input type="text" ng-model="controllerEditIp" class="form-control" placeholder="IP Address" value="{{controllerEditNameIp}}">
          </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left btn-flat" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-flat" ng-click="submitEditController()"><i class="fa fa-send"></i> Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
