<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- Custom -->
<script type="text/javascript">
var app           = angular.module("automationApp", ["ngRoute"]);

/* ANGULAR ROUTING */
app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
        templateUrl : "main.html"
    })
    .when("/controller", {
        templateUrl : "contentController.html",
        controller : "controllerCtrl"
    })
    .when("/room", {
        templateUrl : "contentRoom.html",
        controller : "roomCtrl"
    })
    .when("/zone", {
        templateUrl : "contentZone.html",
        controller : "zoneCtrl"
    });
});
</script>

<script type="text/javascript" src="ScriptCtrlController.js"></script>
<script type="text/javascript" src="ScriptCtrlRoom.js"></script>
<script type="text/javascript" src="ScriptCtrlZone.js"></script>

<script>
  $(function () {
    // $('.data-tables-1').DataTable({
    // 	'lengthMenu': [ 5, 10, 25, 50 ],
    //  //   bAutoWidth: false ,
    //  //   aoColumns : [ { sWidth: '15%' }, { sWidth: '15%' }, { sWidth: '15%' } ],
    // 	// 'paging'      : true,
    //  //  'lengthChange': false,
    //  //  'searching'   : false,
    //  //  'ordering'    : true,
    //   'info'        : false,
    //   // 'autoWidth'   : true,
    //   "oLanguage": {"sZeroRecords": "", "sEmptyTable": ""}
    // });
  });

  /* ALERT WHEN PAGE DOESN'T EXIST */
  function pageNotExist() {
      sweetAlert("Oops...", "The page doesn\'t exist yet", "error");
  }

  // function controlDeviceOn(ip) {
  //   $("#url_loader").load("http://" + ip + "/gpio1/?value=0");
  // }
  // function controlDeviceOff(ip) {
  //   $("#url_loader").load("http://" + ip + "/gpio1/?value=100");
  // }
</script>